{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>IdealRoom</title>
    <link type="text/css" href='{% static "css/bootstrap.min.css" %}' rel="stylesheet"> 
    <link type="text/css" href='{% static "css/headfoot.css" %}' rel="stylesheet">
    <link type="text/css" href='{% static "css/noso.css" %}' rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>

</head>
<body>

<!-- Barra de navegación -->
<header>
    <nav style="background: linear-gradient(90deg, rgba(83, 216, 39, 0.4), rgba(14, 73, 191, 0.5));">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-left">
                    <div class="column-content">
                        <a class="navbar-brand" href="#">
                            <img src="../../static/image/idealroom.png" alt="Logo" width="mx-auto" height="24" class="d-inline-block align-text-top">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-center">
                    <div class="column-content ">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group" >
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" >
                            <label class="btn btn-outline-mio bt-color text-dark" for="btnradio1" onclick="redirectTo('/')">Inicio</label>
                          
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
                            <label class="btn btn-outline-mio bt-color text-dark" for="btnradio2" onclick="redirectTo('/mapa/')">Mapa</label>
                          
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                            <label class="btn btn-outline-mio bt-color text-dark" for="btnradio3" onclick="redirectTo('/contacto/')">Contactanos</label>
        
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                            <label class="btn btn-outline-mio bt-color text-dark" for="btnradio4" onclick="redirectTo('/nosotros/')">Nosotros</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-right">
                    <div class="column-content ">
                        <div class="user-form">
                            <a>Usuario 1    </a>
                            <!-- Imagen de usuario -->
                            <a class="" href="/perfil/">
                                <img src="../../static/image/usuario.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                            </a>
                        </div>                         
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<main>
    <section id="breadcrumb-section" class="breadcrumb-section clearfix">
        <div class="default-breadcrumb">
            <div class="parallax-window" data-parallax="scroll" data-image-src="../../static/image/slide2.png" >
                <div class="overlay">
                    <div class="container">
                        <div class="row justify-content-lg-between justify-content-md-center">

                            <div class="col-lg-6 col-md-8 col-sm-12">
                                <div class="breadcrumb-content">
                                    <h2 class="breadcrumb-title mb-0 tec-sup">IdealRoom</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about-section" class="about-section sec-ptb-120 clearfix">
        <div class="container">
            <div class="row justify-content-lg-between justify-content-md-center">

                <div class="col-lg-6 col-md-8 col-sm-12">
                    <div class="about-image">
                        <span class="decoration-image">
                            <img src="../../static/image/mujer.jpg" alt="" class="img-fluid rounded">
                        </span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-9 col-sm-12">
                    <div class="about-content">

                        <div class="section-title">
                            <span class="small-title tec-sup">Tu solución para la búsqueda de alojamiento</span>
                            <h2 class="big-title mb-0 tec-sup">Simplificamos y mejoramos tu experiencia</h2>
                        </div>
                        <p>IdealRoom, nuestra aplicación web especializada en el arrendamiento de cuartos para estudiantes de Tecsup, presenta diversas funcionalidades clave para optimizar la experiencia de búsqueda y selección de alojamiento.</p>
                        <p>Ofrecemos un registro seguro mediante el correo institucional de Tecsup, asegurando la autenticidad de los perfiles. Además, implementamos descuentos exclusivos en colaboración con arrendadores para garantizar tarifas preferenciales.</p>
                        <p>Con IdealRoom, simplificamos y mejoramos la búsqueda de alojamiento para estudiantes de Tecsup.</p>
                        <a href="#!" class="custom-btn scrollForm tec-btn">Regístrate ahora</a>
                        <a href="#" class="custom-btn tec-btn">Explora nuestras ofertas</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="mission-vision-section" class="mission-vision-section sec-ptb-120 bg-light-gray clearfix">
        <div class="container">

            <div class="section-title text-center mb-30">
                <span class="small-title tec-sup">Misión y Visión</span>
                <h2 class="big-title mb-0 tec-sup">Nuestro Propósito y Futuro</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="mission-grid-item">
                        <span class="item-icon"><i class="fal fa-bullseye tec-sup"></i></span>
                        <h3 class="mission-title tec-sup">Misión</h3>
                        <p>Facilitar y mejorar la experiencia de búsqueda de alojamiento para los estudiantes de Tecsup, ofreciendo una plataforma intuitiva y segura que conecta a estudiantes con opciones de vivienda adaptadas a sus necesidades académicas y preferencias.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="vision-grid-item">
                        <span class="item-icon"><i class="fal fa-binoculars tec-sup"></i></span>
                        <h3 class="vision-title tec-sup">Visión</h3>
                        <p>Convertirnos en el referente principal para los estudiantes de Tecsup en la búsqueda de alojamiento, proporcionando una plataforma innovadora que no solo simplifica el proceso, sino que también crea un ecosistema centrado en la seguridad, confianza y colaboración dentro de la comunidad estudiantil.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features-section" class="features-section clearfix tec-bg">
        <div class="container">
    
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="feature-card text-center">
                        <i class="fal fa-home tec-sup"></i>
                        <h2 class="feature-text tec-sup">Amplia oferta de propiedades en alquiler</h2>
                        <p class="feature-description tec-sup">Encuentra tu hogar ideal entre una variedad de propiedades en alquiler adaptadas a tus necesidades y preferencias.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="feature-card text-center">
                        <i class="fal fa-dollar-sign tec-sup"></i>
                        <h2 class="feature-text tec-sup">Oportunidades exclusivas de venta</h2>
                        <p class="feature-description tec-sup">Descubre propiedades en venta con ofertas exclusivas y asesoramiento personalizado para facilitar tu proceso de compra.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="feature-card text-center">
                        <i class="fal fa-map-marker-alt tec-sup"></i>
                        <h2 class="feature-text tec-sup">Variedad de ubicaciones en diferentes distritos</h2>
                        <p class="feature-description tec-sup">Explora diversas ubicaciones en los distritos más buscados, ofreciendo opciones para todos los gustos y preferencias.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="feature-card text-center">
                        <i class="fal fa-clock tec-sup"></i>
                        <h2 class="feature-text tec-sup">15 Años brindando soluciones habitacionales</h2>
                        <p class="feature-description tec-sup">Con una trayectoria de 15 años, hemos sido líderes en ofrecer soluciones habitacionales confiables y de calidad para nuestros clientes.</p>
                    </div>
                </div>
            </div>
    
        </div>
    </section>

    <section id="formWrap" class="contact-section sec-ptb-120 bg-light-gray clearfix">
        <div class="container">
            <div class="section-title text-center mb-70">
                <span class="small-title">¿Cómo podemos ayudarte?</span>
                <h2 class="big-title mb-0">Escríbenos</h2>
            </div>

            <form>
                <input id="proyId" type="hidden" value="" name="proyId">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-item">
                            <input id="nombre" name="nombre" type="text" placeholder="Nombre" required>
                            <label for="nombre" class="form-item-btn"><i class="far fa-user"></i></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-item">
                            <input id="apellido" name="apellido" type="text" placeholder="Apellido" required>
                            <label for="apellido" class="form-item-btn"><i class="far fa-user"></i></label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-item">
                            <input id="correo" name="correo" type="email" placeholder="Correo Electrónico" required>
                            <label for="correo" class="form-item-btn"><i class="far fa-envelope"></i></label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-item">
                            <input id="telefono" name="telefono" type="tel" placeholder="Teléfono/Celular" required>
                            <label for="telefono" class="form-item-btn"><i class="far fa-paper-plane"></i></label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-item">
                            <select name="interes" id="interes" class="inputsForms" required>
                                <option value="" selected>Estoy interesado en:</option>
                                <option value="0">Vender con ustedes</option>
                                <option value="1">Encontrar una propiedad</option>
                                <option value="2">Arquitectura e implementación</option>
                                <option value="3">Recorridos 360</option>
                            </select>
                            <label for="interes" class="form-item-btn"><i class="far fa-edit"></i></label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-item">
                            <textarea id="comentarios" name="comentarios" placeholder="Mensaje" required></textarea>
                            <label for="comentarios" class="form-item-btn"><i class="far fa-comments"></i></label>
                        </div>

                        <div class="block-answer col-md-12">
                            <div class="values"><div class="error-message"><p></p></div></div>
                        </div>

                        <div class="submit-btn-area text-center">
                            <button type="submit" class="btn btn-primary custom-btn">Enviar Mensaje</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

</main>
<!-- Contenido principal -->


<!-- Pie de página -->
<footer class=" py-3">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-left">
                    <div class="column-content">
                        <p>Direccion</p>
                        <p>Telefono</p>
                        <p>Email</p>
                    </div>
                </div>
                <div class="col-md-3 col-center">
                    <div class="column-content">
                        <p>Polticas de Privacidad</p>
                        <p>Terminos y Condiciones</p>
                        <p>Centro de ayuda</p>
                    </div>
                </div>
                <div class="col-md-3 col-center">
                    <div class="column-content">
                        <p>Conoce a la Empresa</p>
                        <p>Mision</p>
                        <p>Vision</p>
                    </div>
                </div>
                <div class="col-md-3 col-right">
                    <div class="column-content">
                        <p>Opciones de Cancelacion</p>
                        <p>Telefono</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-left">
                    <div class="column-content content3">
                        <p class="mb-3">Realizado por &copy; Tecsup, para que puedas encontrar tu mejor lugar!</p>

                    </div>
                </div>
                <div class="col-md-6 col-right" style="align-content: end;">
                    <div class="column-content">
                        <img src="../../static/image/tecsup.png" alt="Logo" width="" height="40px" class="d-inline-block align-text-top">
                    </div>
                </div>
            </div>

        </div>          
    </div>
  </footer>

<!-- Bootstrap JS y jQuery (opcional) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-Uoq12p+YB1NQTP6s9d7Qp5p8FqErKJcp6nFiE+gbsjE+IbbVYUew+OrCXaRkfjz" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Font Awesome (iconos) -->
<script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>

<!-- Script para cargar la API de Google Maps y crear el mapa -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHV1Q-4Zo8VulvXA710F_5yqfD_JRIRsA&callback=initMap" async defer></script>
<script>
    function initMap() {
        // Coordenadas del centro del mapa
        var center = { lat: -12.04540037203226, lng: -76.95264279988278 };
        // Opciones del mapa
        var mapOptions = {
            center: center,
            zoom: 12, // Ajusta el nivel de zoom según sea necesario
        };

        // Crea el mapa
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
    }
</script>
<script>
    feather.replace()
  </script>
  <script>
    function redirectTo(page) {
        window.location.href = page;
    }
</script>
</body>
</html>
