{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>IdealRoom</title>
    <!-- Enlace al archivo CSS externo -->
    <link type="text/css" href='{% static "css/styles.css" %}' rel="stylesheet">
    <link type="text/css" href='{% static "css/bootstrap.min.css" %}' rel="stylesheet"> 
    <link type="text/css" href='{% static "css/headfoot.css" %}' rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>

    <header>
        <nav style="background: linear-gradient(90deg, rgba(83, 216, 39, 0.4), rgba(14, 73, 191, 0.5));">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-left">
                        <div class="column-content">
                            <a class="navbar-brand" href="#">
                                <img src="../../static/image/idealroom.png" alt="Logo" width="mx-auto" height="24" class="d-inline-block align-text-top">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-center">
                        <div class="column-content ">
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group" >
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" >
                                <label class="btn btn-outline-mio bt-color text-dark" for="btnradio1" onclick="redirectTo('/')">Inicio</label>
                              
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
                                <label class="btn btn-outline-mio bt-color text-dark" for="btnradio2" onclick="redirectTo('/mapa/')">Mapa</label>
                              
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                                <label class="btn btn-outline-mio bt-color text-dark" for="btnradio3" onclick="redirectTo('/contacto/')">Contactanos</label>
            
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                                <label class="btn btn-outline-mio bt-color text-dark" for="btnradio4" onclick="redirectTo('/nosotros/')">Nosotros</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-right">
                        <div class="column-content ">
                            <div class="user-form">
                                <a>Usuario 1    </a>
                                <!-- Imagen de usuario -->
                                <a class="" href="/perfil/">
                                    <img src="../../static/image/usuario.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                                </a>
                            </div>                         
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <!-- Mapa en la mitad izquierda (col-md-7 para hacerlo más grande) -->
                <div class="col-md-7">
                    <div id="map" class="map-container"></div>
                </div>
                <!-- Dos columnas en la mitad derecha (col-md-5) -->
                <div class="col-md-5">
                    <!-- Primera columna de imágenes y texto -->
                    <div class="row">
                        <!-- Tarjeta de alojamiento con precio -->
                        <div class="col-md-6">
                            <div class="accommodation-card">
                                <div class="price-tag">
                                    <div class="oval-bg">
                                        <span class="price-text">Descuento 30%</span>
                                    </div>
                                </div>
                                <a href="detallealquiler.html?imagen=cuarto1">
                                    <img src="../../static/image/lau-cuarto1.jpg" class="img-fluid" alt="Habitación para estudiantes">
                                </a>
                                <h5>Habitación para estudiantes</h5>
                                <p>$380 mensual</p>
                                <p>Av. Las Flores 148</p>
                            </div>
                        </div>
                        <!-- Repite según sea necesario -->
                        <div class="col-md-6">
                            <div class="accommodation-card">
                                <div class="price-tag">
                                    <div class="oval-bg">
                                        <span class="price-text">Descuento 35%</span>
                                    </div>
                                </div>
                                <a href="detallealquiler.html?imagen=cuarto2">
                                    <img src="../../static/image/lau-cuarto2.jpg"  class="img-fluid" alt="Habitación para estudiantes">
                                </a>
                                <h5>Habitación para estudiantes</h5>
                                <p>$350 mensual</p>
                                <p>Av. Cáceres 145</p>
                            </div>
                        </div>
                    </div>
                    <!-- Segunda columna de imágenes y texto -->
                    <div class="row">
                        <!-- Repite según sea necesario -->
                        <div class="col-md-6">
                            <div class="accommodation-card">
                                <div class="price-tag">
                                    <div class="oval-bg">
                                        <span class="price-text">Descuento 35%</span>
                                    </div>
                                </div>
                                <a href="detallealquiler.html?imagen=cuarto3">
                                    <img  src="../../static/image/lau-cuarto3.jpg"  class="img-fluid" alt="Habitación para estudiantes">
                                </a>
                                <h5>Habitación para estudiantes</h5>
                                <p>$360 mensual</p>
                                <p>Av. Grau 154</p>
                            </div>
                        </div>
                        <!-- Repite según sea necesario -->
                        <div class="col-md-6">
                            <div class="accommodation-card">
                                <div class="price-tag">
                                    <div class="oval-bg">
                                        <span class="price-text">Descuento 30%</span>
                                    </div>
                                </div>
                                <a href="detallealquiler.html?imagen=cuarto4">
                                    <img src="../../static/image/lau-cuarto4.jpg"  class="img-fluid" alt="Habitación para estudiantes">
                                </a>
                                <h5>Habitación para estudiantes</h5>
                                <p>$385 mensual</p>
                                <p>Av. El Sol 125</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Tarjeta de alojamiento con precio -->
                        <div class="col-md-6">
                            <div class="accommodation-card">
                                <div class="price-tag">
                                    <div class="oval-bg">
                                        <span class="price-text">Descuento 40%</span>
                                    </div>
                                </div>
                                <a href="detallealquiler.html?imagen=cuarto5">
                                    <img src="../../static/image/lau-cuarto5.jpg"  class="img-fluid" alt="Habitación para estudiantes">
                                </a>
                                <h5>Habitación para estudiantes</h5>
                                <p>$340 mensual</p>
                                <p>Av. Valdelomar 124</p>
                            </div>
                        </div>
                        <!-- Repite según sea necesario -->
                        <div class="col-md-6">
                            <div class="accommodation-card">
                                <div class="price-tag">
                                    <div class="oval-bg">
                                        <span class="price-text">Descuento 30%</span>
                                    </div>
                                </div>
                                <a href="detallealquiler.html?imagen=cuarto6">
                                    <img src="../../static/image/lau-cuarto6.jpg"  class="img-fluid" alt="Habitación para estudiantes">
                                </a>
                                <h5>Habitación para estudiantes</h5>
                                <p>$380 mensual</p>
                                <p>Av. Peña 135</p>
                            </div>
                        </div>
                    </div>
                    <!-- Repite el patrón según sea necesario -->
                    
                </div>
            </div>
        </div>
    </main>

<!-- Contenido principal -->


<!-- Pie de página -->
<footer class=" py-3">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-left">
                    <div class="column-content">
                        <p>Direccion</p>
                        <p>Telefono</p>
                        <p>Email</p>
                    </div>
                </div>
                <div class="col-md-3 col-center">
                    <div class="column-content">
                        <p>Polticas de Privacidad</p>
                        <p>Terminos y Condiciones</p>
                        <p>Centro de ayuda</p>
                    </div>
                </div>
                <div class="col-md-3 col-center">
                    <div class="column-content">
                        <p>Conoce a la Empresa</p>
                        <p>Mision</p>
                        <p>Vision</p>
                    </div>
                </div>
                <div class="col-md-3 col-right">
                    <div class="column-content">
                        <p>Opciones de Cancelacion</p>
                        <p>Telefono</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-left">
                    <div class="column-content content3">
                        <p class="mb-3">Realizado por &copy; Tecsup, para que puedas encontrar tu mejor lugar!</p>

                    </div>
                </div>
                <div class="col-md-6 col-right" style="align-content: end;">
                    <div class="column-content">
                        <img src="../../static/image/tecsup.png" alt="Logo" width="" height="40px" class="d-inline-block align-text-top">
                    </div>
                </div>
            </div>

        </div>          
    </div>
</footer>
<!-- Bootstrap JS y jQuery (opcional) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-Uoq12p+YB1NQTP6s9d7Qp5p8FqErKJcp6nFiE+gbsjE+IbbVYUew+OrCXaRkfjz" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Font Awesome (iconos) -->
<script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>

<!-- Script para cargar la API de Google Maps y crear el mapa -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHV1Q-4Zo8VulvXA710F_5yqfD_JRIRsA&callback=initMap" async defer></script>
<script>
    function initMap() {
        // Coordenadas del centro del mapa
        var center = { lat: -12.04540037203226, lng: -76.95264279988278 };
        // Opciones del mapa
        var mapOptions = {
            center: center,
            zoom: 12, // Ajusta el nivel de zoom según sea necesario
        };

        // Crea el mapa
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
    }
</script>
<script>
    feather.replace()
  </script>
  <script>
    function redirectTo(page) {
        window.location.href = page;
    }
</script>
</body>
</html>
