{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitaciones</title>
    <link type="text/css" href='{% static "css/menu2.css" %}' rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>

    <div class="profile-container">
        <div class="profile-picture">
            <img src="https://i.pinimg.com/564x/81/f8/34/81f834afff7375bdb6f3c345f842b865.jpg" alt="Perfil de Crisulo">
        </div>
        <div class="profile-info">
            <h2>Crisulo</h2>
            <p>Correo Electrónico: crisulo@example.com</p>
            <p>Ubicación: Ciudad, País</p>
            <p>Descripción: Breve descripción sobre Crisulo.</p>
        </div>

        <div class="button-container">
            <button class="main-button">Editar Perfil</button>
        </div>

        <div class="button-container">
            <button class="secondary-button">Favoritos </button>
            <button class="secondary-button">Guardados</button>
            <button class="secondary-button">Comentarios</button>
            <button class="secondary-button">Configuración</button>
        </div>

        <hr>

    </div>

    <div class="room-container">
        <div class="container text-center">
            <div class="row row-cols-3">
                <div class="col">
                    <div class="room-details">
                        <div class="room-img">
                            <img src="https://i.pinimg.com/564x/99/57/50/9957506f5315d50b96b2c7ceda79295c.jpg"
                                alt="Imagen de la habitación">
                        </div>
                        <div class="room-info">
                            <div>
                                <div class="room-cabeza">
                                    <h1 class="room-title">Habitacion independiente con baño propio</h1>
                                    <div class="room-price">S/.240 </div>
                                </div>
                                <hr>
            
                                <div class="room-ubi">
                                    <a href="https://www.google.com/maps">
                                        <img class="room-glovo" src="../../static/image/glovo.png">
                                    </a>
                                    <P class="room-paragraph">En el distrito de Santa Anita, Lima</P>
                                </div>
            
                            </div>
            
                            <div class="services">
                                <div class="service">
                                    <img src="../../static/image/cama.png" alt="Cama">
                                    <p class="available">Disponible</p>
                                </div>
                                <div class="service">
                                    <img src="../../static/image/ducha.png" alt="Ducha">
                                    <p class="available">Disponible</p>
                                </div>
                                <div class="service">
                                    <img src="../../static/image/luz.png" alt="Luz">
                                    <p class="available">Disponible</p>
                                </div>
                                <div class="service">
                                    <img src="../../static/image/wifi.png" alt="Internet">
                                    <p class="available">Disponible</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">

                </div>
                <div class="col">

                </div>
            </div>
        </div>        

    </div>

</body>

</html>