body {
    background: #f8f9fa;
    font-family: 'Raleway', sans-serif;
    color: #495057;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.brand-logo {
    text-align: center;
    margin: 0; /* Ajuste para eliminar el margen superior */
    padding: 20px 0; /* Añadido para dar espacio alrededor del logo */
}

.brand-logo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #3498db;
}

.intro-text {
    text-align: center;
    margin: 20px 0;
    color: #6c757d;
}

.login-container {
    padding: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #3498db;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #217dbb;
}

.register-link {
    text-align: center;
    margin-top: 20px;
    color: #6c757d;
}

.social-login {
    text-align: center;
    margin-top: 20px;
}

.btn-google {
    color: #fff;
    background-color: #d9534f;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.btn-google:hover {
    background-color: #c9302c;
}

.carousel-inner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}